<div class="container_big">
{% if section.settings.section_title.size > 0 %}
	<div class="container">
		<h4 class="section_heading">{{ section.settings.section_title }}</h4>
	</div>
{% endif %}
<div class="row">
	{% for block in section.blocks %}
		{% case block.type %}
			{% when 'banner_100' %}{%- assign item_class = 'col-sm-12' -%}{%- assign img_min_size = '300x116' -%}{%- assign img_size = '1810x700' -%}
			{% when 'banner_66' %}{%- assign item_class = 'col-sm-8' -%}{%- assign img_min_size = '200x117' -%}{%- assign img_size = '1197x700' -%}
			{% when 'banner_50' %}{%- assign item_class = 'col-sm-6' -%}{%- assign img_min_size = '150x118' -%}{%- assign img_size = '895x700' -%}
			{% when 'banner_33' %}{%- assign item_class = 'col-sm-4' -%}{%- assign img_min_size = '100x120' -%}{%- assign img_size = '590x700' -%}
		{% endcase %}

		{% if block.settings.item_link.size > 0 and block.settings.button_text.size > 0 %}
			{%- assign without_button = false -%}			
		{% else %}
			{%- assign without_button = true -%}				
		{% endif %}	

		<div class="{{ item_class }} {{ block.type }}">
			<div class="banner_item {% if without_button %}hover_image{% endif %}">
				{% if block.settings.item_img.size > 0 %}
					{% comment %}<div class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: 'center' }} );">
						
					</div>{% endcomment %}
					<img style="width: 100%" class="banner_image lazyload blur-up" src="{{ block.settings.item_img | img_url: img_min_size, crop: 'center' }}" alt="{{ block.settings.image.alt }}"
						data-src="{{ block.settings.item_img | img_url: img_size, crop: 'center' }}" 
                     	data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1810]" 
						>
				{% else %}
					<div class="img_placeholder__wrap">
						{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
					</div>
				{% endif %}
				
				<div class="banner_caption style_{{ block.settings.banner_style }}">  
					{% if block.settings.banner_style == 'minimal' %}
						{% if without_button %}
							<a class="caption_text {% if block.settings.inverted %} inverted{% endif %}" href="{{ block.settings.item_link }}">
						{% else %}
							<div class="caption_text {% if block.settings.inverted %} inverted{% endif %}">
						{% endif %}

							{% if block.settings.item_text.size > 0 %}
								<p class="banner_text">{{ block.settings.item_text }}</p>
							{% endif %}

						{% if without_button %}
							</a>
						{% else %}
								<a class="btn {% if block.settings.inverted %} btn_inverted{% endif %}" href="{{ block.settings.item_link }}" href="{{ block.settings.item_link }}">{{ block.settings.button_text }}</a>
							</div>
						{% endif %}

					{% elsif block.settings.banner_style == 'telling' %}
						<div class="caption_text {% if block.settings.inverted %} inverted{% endif %}">
							{% if block.settings.item_subtitle.size > 0 %}
								<h4>{{ block.settings.item_subtitle }}</h4>
							{% endif %}

							{% if block.settings.item_title.size > 0 %}
								<h2>{{ block.settings.item_title }}</h2>
							{% endif %}

							{% if block.settings.item_link.size > 0 and block.settings.button_text.size > 0 %}
								<a class="btn" href="{{ block.settings.item_link }}">{{ block.settings.button_text }}</a>
							{% endif %}

							{% if block.settings.item_2_link.size > 0 and block.settings.button_2_text.size > 0 %}
								<a class="btn" href="{{ block.settings.item_2_link }}">{{ block.settings.button_2_text }}</a>
							{% endif %}
						</div>

					{% endif %}
				</div>
			</div>
		</div>

	{% endfor %}
</div>
</div>

{% schema %}
{
	"name": "Banners",
	"class": "section section_homepage section_banners",
	"max_blocks": 4,
	"settings": [
		{
			"type": "header",
			"content": "Banners"
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "Section Title"
		}
	],
	"blocks": [

		// BANNER 100% ===================================================================================
		{
			"type": "banner_100",
			"name": "Banner (100%)",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "banner_style",
					"label": "Banner style",
					"default": "minimal",
					"options": [
						{
							"label": "Minimal",
							"value": "minimal"
						},
						{
							"label": "Telling",
							"value": "telling"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "richtext",
					"id": "item_title",
					"label": "Caption title",
					"info": "Only in 'Telling' style"
				},
				
				{
					"type": "text",
					"id": "item_text",
					"label": "Caption text",
					"info": "Only in 'Minimal' style"
				},
				{
					"type": "checkbox",
					"id": "inverted",
					"label": "Inverted style",
					"default": false
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"info": "Both styles"
				},
				{
					"type": "url",
					"id": "item_2_link",
					"label": "Button 2 Link",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "button_2_text",
					"label": "Button 2 text",
					"info": "Only in 'Telling' style"
				}
			]
		},


		// BANNER 66% ====================================================================================
		{
			"type": "banner_66",
			"name": "Banner (66%)",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "banner_style",
					"label": "Banner style",
					"default": "minimal",
					"options": [
						{
							"label": "Minimal",
							"value": "minimal"
						},
						{
							"label": "Telling",
							"value": "telling"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "richtext",
					"id": "item_title",
					"label": "Caption title",
					"info": "Only in 'Telling' style"
				},
				
				{
					"type": "text",
					"id": "item_text",
					"label": "Caption text",
					"info": "Only in 'Minimal' style"
				},
				{
					"type": "checkbox",
					"id": "inverted",
					"label": "Inverted style",
					"default": false
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "url",
					"id": "item_2_link",
					"label": "Button 2 Link",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "button_2_text",
					"label": "Button 2 text",
					"info": "Only in 'Telling' style"
				}
			]
		},


		// BANNER 50% ====================================================================================
		{
			"type": "banner_50",
			"name": "Banner (50%)",
			"limit": 2,
			"settings": [
				{
					"type": "select",
					"id": "banner_style",
					"label": "Banner style",
					"default": "minimal",
					"options": [
						{
							"label": "Minimal",
							"value": "minimal"
						},
						{
							"label": "Telling",
							"value": "telling"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "item_title",
					"label": "Caption title",
					"info": "Only in 'Telling' style"
				},
				
				{
					"type": "text",
					"id": "item_text",
					"label": "Caption text",
					"info": "Only in 'Minimal' style"
				},
				{
					"type": "checkbox",
					"id": "inverted",
					"label": "Inverted style",
					"default": false
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "url",
					"id": "item_2_link",
					"label": "Button 2 Link",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "button_2_text",
					"label": "Button 2 text",
					"info": "Only in 'Telling' style"
				}
			]
		},


		// BANNER 33% ====================================================================================
		{
			"type": "banner_33",
			"name": "Banner (33%)",
			"limit": 3,
			"settings": [
				{
					"type": "select",
					"id": "banner_style",
					"label": "Banner style",
					"default": "minimal",
					"options": [
						{
							"label": "Minimal",
							"value": "minimal"
						},
						{
							"label": "Telling",
							"value": "telling"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "item_title",
					"label": "Caption title",
					"info": "Only in 'Telling' style"
				},
				
				{
					"type": "text",
					"id": "item_text",
					"label": "Caption text",
					"info": "Only in 'Minimal' style"
				},
				{
					"type": "checkbox",
					"id": "inverted",
					"label": "Inverted style",
					"default": false
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "url",
					"id": "item_2_link",
					"label": "Button 2 Link",
					"info": "Only in 'Telling' style"
				},
				{
					"type": "text",
					"id": "button_2_text",
					"label": "Button 2 text",
					"info": "Only in 'Telling' style"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banners",
			"category": "Image",
			"blocks": [
				{
					"type": "banner_50"
				},
				{
					"type": "banner_50"
				}
			]
		}
	]
}
{% endschema %}
